<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=localhost;Port=3306;Database=furniture_erp_system;Uid=root;Pwd=;CharSet=utf8mb4;AllowPublicKeyRetrieval=True;SslMode=Disabled;Convert Zero Datetime=True;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Premium Living Furniture ERP" />
    <add key="AppVersion" value="2.0" />
  </appSettings>
</configuration>
